// 主题色
$theme-colors: rgb(198,47,47);
// 背景颜色
$background-colors: rgb(245,245,247);
// 强调背景颜色
$active-background-colors: rgb(230,231,234);
// 线条颜色
$line-colors: rgb(230,231,234);
// 字体颜色
$font-colors: rgb(92,92,92);
// 强调字体颜色
$active-font-colors: #000000;